@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
body{
    background-color:rgba(0, 0, 0, 0.959);
    color: white;
    font-family: "Great Vibes", cursive;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
select{
    color:aqua;
    background-color:black;
    padding: 10px;
    border: 1px solid aqua;
    font-family: "Great Vibes", cursive;
    font-size: 30px;
}
input[type="submit"],a{
    background-color: rgb(145, 255, 0);
    padding: 20px;
    font-family: "Great Vibes", cursive;
    font-size: 30px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
}
